/* footer section styling */
footer{
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  bottom: 0;
}
footer span a{
  color: crimson;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}
.soc {
  display: inline-block;
  margin: 4px;
}

.links{
  color: crimson;
}

.fab{
  padding: 0.5rem;
}
