<div class="row" style="--bs-gutter-x:0;">
  <div class="col-md-12">
    <mat-toolbar color="primary">
      <span>To Do App</span>
    </mat-toolbar>
  </div>
  <div class="col-md-12 mt-5">
    <app-to-do [formValues]="formValues" (onTaskAdd)="addTasks($event)" (onTaskUpdate)="updateTask($event)" (onTaskCancel)="cancelTask($event)" ></app-to-do>
  </div>
  <div class="col-md-12 mt-5">
    <app-to-do-details [newTask]="newTask" [updatedTask]="updatedTask" (onTaskEdit)="editTask($event)"></app-to-do-details>
  </div>
</div>
<footer>
  <span>Created By <a target="_blank" href="https://sanketpanda.github.io/Portfolio/">Sanket Panda</a> | <span class="far fa-copyright"></span> {{currentYear}} All rights reserved.</span>
  <span><a title="Github profile Link" target="_blank" href="https://github.com/sanketpanda">
      <i class="fab fa-github"></i>
  </a>
  <a title="Facebook profile link" target="_blank" href="https://www.facebook.com/sanketpanda.sanketpanda">
      <i class="fab fa-facebook"></i>
  </a>
  <a title="Instagram profile link" target="_blank" href="https://www.instagram.com/sanket.panda/">
      <i class="fab fa-instagram"></i>
  </a>
  <a title="linkedin profile link" target="_blank" href="https://www.linkedin.com/in/sanket-panda-773879134/">
      <i class="fab fa-linkedin"></i>
  </a>
  <a title="Youtube channel link" target="_blank" href="https://www.youtube.com/channel/UCYuy3j9H4ZpDXxXijsQx6qg">
      <i class="fab fa-youtube"></i>
  </a>
</span>
</footer>
