<div class="row" style="--bs-gutter-x:0;">
  <div class="col-md-12">
    <div class="container">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="card-heading">To Do List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row" style="--bs-gutter-x:0;">
            <form [formGroup]="form">
              <div class="row">
                <div class="col">
                  <label for="title"><b>Title</b></label>
                  <input type="text" name="id" id="id" class="form-control" formControlName="id" ngDefaultControl
                    hidden>
                  <input type="text" placeholder="Enter title" name="title" id="title" class="form-control"
                    formControlName="title" required ngDefaultControl>
                    <app-field-error
                    [displayError]="isFieldValid('title')"
                    [errorMsg]="getErrorMessage('title')">
                  </app-field-error>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="col">
                    <label for="description"><b>Description</b></label>
                    <textarea placeholder="Enter Description" name="description" id="description" rows="2" cols="50"
                      formControlName="description" ngDefaultControl></textarea>
                      <app-field-error
                    [displayError]="isFieldValid('description')"
                    [errorMsg]="getErrorMessage('description')">
                  </app-field-error>
                  </div>
                </div>
              </div>
              <div mat-dialog-actions align="end">
                <button mat-raised-button (click)="onCancel()" color="accent" style="margin-right:2rem"
                  *ngIf="btnTitle != 'Submit'">Cancel</button>
                <button mat-raised-button (click)="onUpdate(form)" color="primary" style="margin-right:2rem"
                  *ngIf="btnTitle != 'Submit'">Update</button>
                <button mat-raised-button (click)="addNewTask(form)" color="primary" type="submit"
                  *ngIf="btnTitle == 'Submit'">{{btnTitle}}</button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
